[Desktop Entry]
Encoding=UTF-8
Name=Nodescape
Comment=Nodescape P2P Cryptocurrency
Exec=nodescape-qt %u
Terminal=false
Type=Application
Icon=nodescape128
MimeType=x-scheme-handler/nodescape;
Categories=Office;Finance;
Name[en_US]=nodescape-qt.desktop
